<div class="topPage">
  <nav class="nav">
    <ul>
      <li class="personIcon"><%= link_to(content_tag(:i, "", class: 'fas fa-2x fa-user'), user_path(current_user.id)) %></li>
      <li class="appIcon"><%= link_to image_tag("cat-hand-icon.png"), action: "index" %></li>
    </ul>
  </nav>
  <div id="tinderslide">
    <ul>
      <% @users.each do |user| %>
        <!--検索する-->
        <li data-user_id="<%= user.id %>">
          <div class="userName"><%= user.name %></div>
          <%= image_tag user.img_name.url, size: "400x400" %>
          <div class="like"></div>
          <div class="dislike"></div>
        </li>
      <% end %>
    </ul>
    <div class="noUser">近くにお相手がいません。</div>
  </div>
  <div class="actions" id="actionBtnArea">
    <%= link_to "#", class: "dislike" do %>
      <i class="fas fa-times fa-2x"></i>
    <% end %>
    <%= link_to "#", class: "like" do %>
      <i class="fas fa-heart fa-2x"></i>
    <% end %>
  </div>
</div>
<script>
  let jTinder;
  $("#tinderslide").jTinder();
  $('.actions .like, .actions .dislike').click(function(e){
    e.preventDefault();
    $("#tinderslide").jTinder($(this).attr('class'));
  });
</script>